/* Base body styling */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: white; 
  text-align: center;
}

/* Main chart container */
.chart-container {
  display: flex; 
  justify-content: space-evenly; 
  max-width: 1600px;         
  margin: 2rem auto;        
}

/* Default chart styles */
.chart {
  width: 450px;   
  height: 300px;
  position: relative;
}

/* Chart title styling */
.chart-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Axis styling */
.axis path,
.axis line {
  stroke: #ccc;
}

/* Legend styling */
.legend {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  font-size: 14px;
}

.legend div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.legend-box {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 3px;
}

/* Button container and button styling */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  background-color: #91a1b1;
  color: white;
  border: none;
  padding: 0px 0px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0px;
  transition: background 0.3s;
}

button:hover {
  background-color: #2565aa;
}

/* Slider container */
.slider-container {
  margin-bottom: 20px;
}

/* Individual chart container */
#chart-container {
  display: flex;
  justify-content: center;
}

/* Participant info */
#participant-info {
  margin-top: 10px;
  font-size: 16px;
}

/* Tooltip styling */
.tooltip {
  position: absolute;
  background: #cf8d8d;
  padding: 5px;
  border-radius: 5px;
  visibility: hidden;
  font-size: 14px;
}

/* Horizontal chart layout */
.horizontal-chart-container {
  display: flex;         
  justify-content: center; 
  gap: 20px;               
  margin-top: 20px;
}

.horizontal-chart-container .chart {
  width: 120px;  
  height: 300px;
  position: relative;
}